@import "tailwindcss";

html, body, #root {
  margin: 0;   /* remove default browser margin */
  padding: 0;  /* remove default browser padding */
  width: 100%; /* ensure full width */
  min-width: 100%;
}